/* Document */

body {
  background-color: hsl(30, 38%, 92%);
}

p {
  font-size: 14px;
}

.flex-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Component */

.card-body-container {
  padding: 15px;
}

.img-fluid {
  height: 100%;
}

.card-department {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat";
  letter-spacing: 0.25rem;
}

.card-title {
  font-family: "Fraunces";
  line-height: 1;
}

.card-text {
  padding-top: 15px;
  padding-bottom: 10px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat";
}

.prices-text {
  display: table;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
  font-size: 2rem;
  padding-right: 1.5rem;
}

.old-price {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  vertical-align: middle;
  display: table-cell;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* font-family: 'Fraunces', serif;

font-family: 'Montserrat', sans-serif; */
