/* Document */

body {
  background-color: hsl(30, 38%, 92%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}

/* Component */

.card {
  font-family: "Montserrat";
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  max-width: 600px;
  border-radius: 0.75rem;
}

.card-body-container {
  padding: 1rem;
}

/* Image Side */

.product-img {
  height: 100%;
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}

.img-desktop {
  display: block;
}

.img-mobile {
  display: none;
}

/* Description Side */

.product-department {
  letter-spacing: 0.25rem;
}

.product-title {
  font-family: "Fraunces";
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.product-text {
  padding-top: 1rem;
  padding-bottom: 0.65rem;
}

.prices-text {
  display: table;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
  font-size: 2rem;
  padding-right: 1.5rem;
}

.old-price {
  text-decoration: line-through;
  vertical-align: middle;
  display: table-cell;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  border: 0;
  padding: 0.8rem;
  margin-top: 0.65rem;
}

.btn:hover,
.btn:focus {
  background-color: hsl(212, 21%, 14%);
  box-shadow: none !important;
}

.cart-img {
  padding-right: 0.5rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Changes */

@media (max-width: 576px) {
  .card {
    margin: 1rem;
  }

  /* Image Side */

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .product-img {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  /* Description Side */

  .card-body-container {
    padding: 0.5rem;
  }

  .product-department {
    font-size: 0.8rem;
  }

  .product-title {
    font-size: 2rem;
  }

  .product-text {
    font-size: 0.8rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }

  .prices-text {
    margin: 0;
  }
}
